/* You can add global styles to this file, and also import other style files */

.font-clear {
    color: #fff;
}

.font-cobalt {
    color: #3a5199;
}

.bg-cobalt {
    background-color: #3a5199;
}


















